.search-result:not(.is-collapsed) .search-result-file-title {
  --nav-item-color-active: var(--text-normal);
}

.tree-item-flair {
  color: var(--text-muted);
}

.tree-item-self:hover .tree-item-flair {
  color: var(--text-muted);
}

@media (hover: hover) {
  .backlink-pane > .tree-item-self.is-clickable.is-collapsed:hover,
  .outgoing-link-pane > .tree-item-self.is-clickable.is-collapsed:hover {
    color: var(--text-normal);
  }
}

/*
* #TODO?
* This is trying to minimize how jarring this weird thing
* that happens when you click the folder name in the header title.
* It looks odd in the default theme, too.
*/

.is-flashing .nav-folder-title,
.is-flashing .nav-file-title {
  color: var(--text-normal);
}

/*
* Bookmarks
*/

.tree-item-self:is(.is-active, .is-selected)
  :is(.tree-item-icon, .tree-item-icon svg, .tree-item-flair) {
  color: var(--ctp-list-secondary-foreground, var(--text-muted));
}

@media (hover: hover) {
  body:not(.is-grabbing)
    .tree-item-self.is-clickable:not(.is-active, .is-selected):hover {
    .tree-item-icon {
      --icon-color: var(--text-muted);
    }
  }
}
