.prompt {
  --prompt-border-color: rgb(var(--ctp-surface2));

  .prompt-input[type="text"] {
    border: 0;
  }

  .prompt-results {
    background-color: rgb(var(--ctp-mantle));
  }

  &:hover .suggestion-hotkey {
    background-color: rgb(var(--ctp-surface1));
  }
}

.suggestion-item.is-selected {
  background-color: var(--ctp-list-selection-background);
  color: var(--text-normal);

  & .suggestion-flair {
    color: var(--ctp-icon-foreground);
  }
}

.suggestion-item.mod-complex {
  .suggestion-hotkey {
    background-color: rgb(var(--ctp-surface0));
    color: var(--text-normal);
  }
}

.suggestion-item.mod-complex.is-selected .suggestion-note {
  color: var(--text-muted);
}
