.clickable-icon.is-active {
  background-color: var(--ctp-list-selection-background);

  svg {
    color: var(--ctp-icon-foreground);
  }
}

.suggestion :hover.list-item-part.clickable-icon[aria-label="Clear search history"],
.modal-close-button:hover {
  background-color: rgb(var(--ctp-red));
  box-shadow: 0 0 2px 1px rgb(var(--ctp-surface1));
  color: rgb(var(--ctp-base));
}

.workspace-tab-header-inner:hover .workspace-tab-header-inner-icon {
  --icon-color-hover: var(--text-faint);
  --opacity-icon-hover: 1;
}

.search-input-clear-button:hover,
.search-input-clear-button:active {
  color: rgb(var(--ctp-red));
}

/*
* Windows and Linux min, max, and close buttons
*/

.mod-linux .titlebar-button:hover,
.mod-windows .titlebar-button:hover {
  background-color: var(--ctp-hover-background);
  color: var(--text-normal);
}

.mod-linux .titlebar-button.mod-close:hover,
.mod-windows .titlebar-button.mod-close:hover {
  background-color: rgb(var(--ctp-red));
  color: var(--text-on-accent);
}
