.cm-s-obsidian span.obsidian-search-match-highlight {
  background-color: var(--ctp-search-match-current-background);
  box-shadow: 0 0 0 2px var(--ctp-focus-border);
  color: var(--text-normal);
}

.search-result-file-matches {
  background-color: var(--background-secondary);
  color: var(--text-normal);
}

.workspace-leaf.mod-active .search-result.has-focus .tree-item-self,
.workspace-leaf.mod-active .search-result-file-match.has-focus {
  box-shadow: inset 2px 0 0 var(--ctp-focus-border);
}

@media (hover: hover) {
  .search-result-file-match:hover,
  .search-result-file-match:hover .search-result-file-match-destination-file {
    background-color: var(--ctp-list-hover-background);
    color: var(--text-normal);
  }
}

.search-suggest-item.is-selected {
  background-color: var(--ctp-list-selection-background);
  color: var(--text-normal);

  .list-item-part.clickable-icon {
    color: var(--ctp-icon-foreground);
  }

  .search-suggest-info-text {
    color: var(--text-muted);
  }
}

.suggestion .suggestion-item.mod-group {
  background-color: inherit;
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  font-variant: all-small-caps;
}

.list-item-part.clickable-icon:hover,
.list-item-part.clickable-icon:active {
  background-color: var(--ctp-list-hover-background);
}

.search-result-file-match:hover .search-result-file-matched-text {
  background-color: var(--ctp-search-match-current-background);
  color: var(--text-normal);
}

.search-result-file-matched-text {
  background-color: var(--ctp-search-match-background);
  color: var(--text-normal);
}

.is-flashing,
.cm-s-obsidian .is-flashing .cm-url {
  background-color: var(--ctp-search-match-current-background);
  color: var(--text-normal);
}

.is-flashing .cm-quote.cm-quote,
.cm-s-obsidian .is-flashing .cm-hmd-internal-link,
.cm-s-obsidian .is-flashing .cm-url .cm-underline:hover,
.cm-s-obsidian .is-flashing span.cm-url:hover {
  color: var(--text-normal);
}

.community-item .suggestion-highlight {
  color: var(--text-accent);
}
