/* stylelint-disable selector-class-pattern -- Obsidian and CodeMirror own these class names. */
strong,
.cm-strong,
.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-strong {
  --bold-color: var(--ctp-bold, rgb(var(--ctp-text)));

  color: var(--ctp-bold, rgb(var(--ctp-text)));
}

em,
.cm-em {
  --italic-color: var(--ctp-italic, rgb(var(--ctp-text)));
}

del,
.cm-strikethrough {
  color: var(--ctp-strikethrough, rgb(var(--ctp-overlay1)));
}

.cm-s-obsidian .cm-link.cm-strikethrough {
  text-decoration: line-through;
}

.markdown-rendered blockquote,
.cm-s-obsidian span.cm-quote {
  --blockquote-border-color: var(--ctp-blockquote, rgb(var(--ctp-lavender)));
  --blockquote-color: var(--ctp-blockquote, rgb(var(--ctp-subtext1)));
}

.cm-em.cm-strong,
strong > em,
em > strong {
  color: var(--ctp-bold, rgb(var(--ctp-text)));
}

.markdown-source-view ol > li,
.markdown-source-view ul > li,
.markdown-preview-view ol > li,
.markdown-preview-view ul > li,
.markdown-rendered ul > li,
.mod-cm6 .HyperMD-list-line.cm-line {
  padding-top: 0;
  padding-bottom: 0;
}

.inline-title {
  --inline-title-color: var(--ctp-page-title, rgb(var(--ctp-text)));
}

h1,
.markdown-rendered h1,
.HyperMD-header-1,
.HyperMD-list-line .cm-header-1 {
  --h1-color: var(--ctp-h1, rgb(var(--ctp-text)));

  line-height: var(--h1-line-height);
}

h2,
.markdown-rendered h2,
.HyperMD-header-2,
.HyperMD-list-line .cm-header-2 {
  --h2-color: var(--ctp-h2, rgb(var(--ctp-lavender)));

  line-height: var(--h2-line-height);
}

h3,
.markdown-rendered h3,
.HyperMD-header-3,
.HyperMD-list-line .cm-header-3 {
  --h3-color: var(--ctp-h3, rgb(var(--ctp-blue)));

  line-height: var(--h3-line-height);
}

h4,
.markdown-rendered h4,
.HyperMD-header-4,
.HyperMD-list-line .cm-header-4 {
  --h4-color: var(--ctp-h4, rgb(var(--ctp-sapphire)));

  line-height: var(--h4-line-height);
}

h5,
.markdown-rendered h5,
.HyperMD-header-5,
.HyperMD-list-line .cm-header-5 {
  --h5-color: var(--ctp-h5, rgb(var(--ctp-subtext1)));

  line-height: var(--line-height-normal);
}

h6,
.markdown-rendered h6,
.HyperMD-header-6,
.HyperMD-list-line .cm-header-6 {
  --h6-color: var(--ctp-h6, rgb(var(--ctp-subtext0)));

  line-height: var(--line-height-normal);
}

/* markdown ==highlight== colors */
.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: rgb(var(--ctp-yellow), 28%);
  color: var(--text-normal);

  &.cm-em,
  em {
    background-image: none;
    color: inherit;
  }

  &.cm-strong,
  strong {
    background-image: none;
    color: inherit;
  }

  &.cm-strikethrough,
  del {
    background-image: none;
    color: inherit;
  }
}

.cm-s-obsidian span.cm-error {
  color: rgb(var(--ctp-red));
}

.drag-ghost {
  --drag-ghost-background: var(--background-secondary);
  --drag-ghost-text-color: rgb(var(--ctp-rosewater), 80%);

  border: 1px solid rgb(var(--ctp-rosewater), 60%);
}

/* stylelint-enable selector-class-pattern */
